<h1>ADMIN LOGIN</h1>




<form action="/auth/admin/login" method="post">

    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Log In" />
    </div>
</form>