<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="mx-auto">
        <a class="navbar-brand mr-0 mr-lg-3" href="/twitch">Twitch Streamers </a>

        <button class="navbar-toggler" style="border: none;" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">

            <i class="fas fa-angle-double-down"></i>
        </button>


    </div>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/twitch/trending">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/twitch/top-rated">Top Rated</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/twitch/recent-suggestions">Recent Suggestions</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/twitch/search/tags?page=1&tag=Gaming&sort=upvotes">Gaming</a>
                    <a class="dropdown-item" href="/twitch/search/tags?page=1&tag=JustChatting&sort=upvotes">Just
                        Chatting</a>
                </div>
            </li>
        </ul>
    </div>
</nav>