<%- include('partials/header') %>

<div class="bg-dark container-fluid">
    <div class=" text-right text-light container ">

        <div class="row">
            <div class="col my-auto text-center">

                <h1 class="slogan display-4 my-3">Showcase your content</h1>
                <a class="btn btn-primary" href="/auth/login">Sign up</a>
            </div>
            <div class="col my-auto text-center">
                <h1 class="slogan display-4 my-3"> <span class="">Vote for your favorite Content
                        Creators</span>
                </h1>
                <a class="btn btn-primary" href="/auth/login">Sign up</a>


            </div>


        </div>
    </div>

    <br>
</div>




<div class="bg-light">
    <br>
    <div class="container text-center">
        <h1 class="mb-5 text-dark"> <a href="/youtube">YOUTUBERS</a> </h1>

        <h1 class="mb-5 text-dark"> <a href="/twitch">TWITCH LIVESTREAMERS</a> </h1>

        <h1 class="mb-5 text-dark">PODCASTERS</h1>
        <h1 class="mb-5 text-dark">AUTHORS</h1>
        <h1 class="mb-5 text-dark">INSTAGRAM INFLUENCERS</h1>



    </div>
    <br>

    <div class="bg-dark">
        <br>

        <div class="container text-center">
            <h1 class="text-center my-3 text-light"> </h1>

        </div>
        <br>
    </div>

    <!-- <h1 class="text-center mb-5">DISCOVER</h1>
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <i class="fas fa-poll fa-9x text-dark my-5"></i>
                <img class="card-img-top"
                        src="https://images.pexels.com/photos/270669/pexels-photo-270669.jpeg?cs=srgb&dl=pexels-pixabay-270669.jpg&fm=jpg"
                        alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">TRENDING CHANNELS</h4>
                    <a href="/youtube/trending" class="btn btn-block red-button">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <i class="fas fa-star-half-alt fa-9x text-dark my-5"></i> -->
    <!-- <img class="card-img-top"
                        src="https://images.pexels.com/photos/220759/pexels-photo-220759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="Card image cap"> -->
    <!-- <div class="card-body">
                    <h4 class="card-title">TOP RATED CHANNELS</h4>
                    <a href="/youtube/top-rated" class="btn btn-block red-button">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <i class="fas fa-signal fa-9x text-dark my-5"></i> -->
    <!-- <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1467664631004-58beab1ece0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
                        alt="Card image cap"> -->
    <!-- <div class="card-body">
                    <h4 class="card-title">RECENT CHANNELS</h4>
                    <a href="/youtube/recent-suggestions" class="btn btn-block red-button">Go</a>
                </div>
            </div>
        </div>
    </div> -->

</div>



<%- include('partials/footer') %>