<%- include('partials/header') %>
    <div class="jumbotron text-center mb-0">
        <h1 class="display-4">Your Ultimate Guide to the Best Content Creators.</h1>
        <p class="lead">Promote your own content. Upvote creators you love. </p>
        <hr class="my-4">
        <p>Check out creators from these different platforms</p>
        <a class="mt-3 mt-md-0 btn red-button btn-lg" href="/youtube" role="button">YouTube</a>
        <a class="mt-3 mt-md-0 btn twitch-button btn-lg" href="/twitch" role="button">Twitch</a>

    </div>

    <!-- <div class="bg-dark container-fluid text-white" height="100">
        <div class="row">
            <div class="col col-md-8">
                <img class="mt-3 img-fluid"
                    src="https://cdn.pixabay.com/photo/2017/12/17/16/08/customer-experience-3024488_1280.jpg" alt="">
            </div>
            <div class="col col-md-4 mx-auto my-auto text-center">
                <h1 class="slogan display-4 my-3"> <span class="">Vote for your favorite Content
                        Creators</span>
                </h1>
                <a class="btn btn-danger" href="/auth/login">Sign up</a>
            </div>



        </div>

        <br>
        <div class="row">

            <div class="col col-md-4 my-auto text-center">
                <h1 class="slogan display-4">Promote your content</h1>
                <a class="btn btn-danger" href="/auth/login">Promote</a>
            </div>

            <div class="col col-md-8">
                <img class="img-fluid" src="https://cdn.pixabay.com/photo/2018/10/11/18/34/marketing-3740526_1280.jpg"
                    alt="">

            </div>
        </div>

        <br>
    </div>


    <br>

    <div id="card-container" class="container">
        <br>
        <div class="card bg-white text-center">
            <div class="card-header text-light bg-secondary">
                YOUTUBE CHANNEL OF THE DAY
            </div>
            <div class="card-body">

                <p class="m-3 text-right"><a class="text-black" href="/youtube/search/tags?page=1&tag=Cars"><em>
                            #Cars</em></a>
                </p>

                <div class="row pt-3 mx-auto">

                    <h3 class="card-title"> <a href=https://www.youtube.com/channel/UCsqjHFMB_JYTaEnf_vmTNqg
                            target="_blank" class="text-dark">Doug DeMuro</a>
                    </h3>
                    <img src="https://yt3.ggpht.com/a/AATXAJw-a7RxDA-DI4a57CRO-PgXhtp7bzuG-m9kdEXY6w=s288-c-k-c0xffffffff-no-rj-mo"
                        class="thumb mx-auto img-fluid img-thumbnail align-self-center" alt="channel thumbnail">
                    <% if(!user){ %>

                        <div class="p-3 p-md-4 mx-auto ml-md-4 text-center align-self-center">

                            <button id="up5f52c6998fb6bd0004ea2fee" name="upvote" class="btn row">
                                <i class="fas fa-chevron-up fa-3x"></i>
                            </button>

                            <h1 id=5f52c6998fb6bd0004ea2fee class="row p-0 m-0 justify-content-center">
                                21
                            </h1>

                            <button id="down5f52c6998fb6bd0004ea2fee" name="downvote" class="btn row">
                                <i class="fas fa-chevron-down fa-3x"></i>
                            </button>

                        </div>
                        <%}%>

                </div>
                <div class="card-body">
                    <p class="description card-text">this channel does not have a description</p>

                    <a href=https://www.youtube.com/channel/UCsqjHFMB_JYTaEnf_vmTNqg target="_blank"
                        class="btn red-button">Visit channel</a>
                </div>

            </div>

        </div>

        <br>
        <div class="card bg-white text-center">
            <div class="card-header text-light bg-secondary">
                TWITCH CHANNEL OF THE DAY
            </div>
            <div class="card-body">

                <p class="m-3 text-right"><a class="text-black" href="/twitch/search/tags?page=1&tag=Gaming"><em>
                            #Gaming</em></a>
                </p>

                <div class="row pt-3 mx-auto">

                    <h3 class="card-title"> <a href=https://www.twitch.tv/pokimane target="_blank"
                            class="text-dark">pokimane</a>
                    </h3>
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/beeafc17-3ebe-4e1d-b250-404f1ea56988-profile_image-300x300.png"
                        class="thumb mx-auto img-fluid img-thumbnail align-self-center" alt="channel thumbnail">
                    <% if(!user){ %>

                        <div class="p-3 p-md-4 mx-auto ml-md-4 text-center align-self-center">

                            <button id="up5fa450876f29c1e641aa2070" name="upvoteTwitch" class="btn row">
                                <i class="fas fa-chevron-up fa-3x"></i>
                            </button>

                            <h1 id=5fa450876f29c1e641aa2070 class="row p-0 m-0 justify-content-center">
                                13
                            </h1>


                            <button id="down5fa450876f29c1e641aa2070" name="downvoteTwitch" class="btn row">
                                <i class="fas fa-chevron-down fa-3x"></i>
                            </button>

                        </div>
                        <% } %>
                </div>
                <div class="card-body">
                    <p class="description card-text">Welcome to my channel! :) I play Fortnite, League, variety
                        games,
                        chat &amp; eat a ton of food on stream P: I love interacting with my chat &amp; making
                        others
                        happy, so come say hi!</p>

                    <a href=https://www.twitch.tv/pokimane target="_blank" class="btn twitch-button">Visit
                        stream</a>
                </div>

            </div>

        </div> 

        <br>
    </div>-->


    <%- include('partials/footer') %>