<%- include('partials/header') %>
<div class="col-sm-6 mx-auto mt-5">
  <div class="card">
    <div class="card-body text-center">
      <h3>Showcase your favorite content creators.</h3>
      <p>Sign up to submit and upvote YouTube channels and more.</p>
      <div class="card mx-auto w-50 shadow-sm ">
        <div class="card-body text-center">
          <a id="signin" class="btn btn-lg btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>


      <p class="mt-3">Already have an account? Sign in <a class="" href="/auth/google" role="button">
          here
        </a></p>
    </div>
  </div>
</div>



<%- include('partials/footer') %>