<%- include('partials/header') %>


<h1>new category</h1>


<form action="/tag-submit" method="post">
    <input name="newTag" placeholder="enter name of new category" type="text" multiple>
    <button type="submit">submit</button>
</form>


<%- include('partials/footer') %>