<%- include('../partials/header') %>

<div class="container text-center">
        <img class="my-3"
                src="https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube-logo-full_color_light.svg?cache=72a5d9c"
                widtch="50" height="50" alt="">
        <h1 class="mb-5 text-dark">CHANNEL CATEGORIES</h1>

        <div class="row my-5">
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Animals/Nature&sort=upvotes"><i
                                        class="fas fa-paw fa-3x text-dark"></i>
                        </a>
                        <a class="" href="/youtube/search/tags?page=1&tag=Animals/Nature&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">Animals/Nature</button>
                        </a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Beauty&sort=upvotes"><i
                                        class="fas fa-tshirt fa-3x text-dark"></i></a>
                        <a class="" href="/youtube/search/tags?page=1&tag=Beauty&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Beauty</button></a>
                </div>
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Business&sort=upvotes"><i
                                        class="fas fa-building fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Business&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">Business</button>
                        </a>
                </div>
        </div>


        <div class="row my-5">

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Cars&sort=upvotes"><i
                                        class="fas fa-car fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Cars&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Cars</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Comedy&sort=upvotes"><i
                                        class="fas fa-theater-masks fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Comedy&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Comedy</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=DIY/Crafts&sort=upvotes"><i
                                        class="fas fa-tools fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=DIY/Crafts&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        DIY/Crafts</button></a>
                </div>
        </div>


        <div class="row my-5">
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Education&sort=upvotes"><i
                                        class="fas fa-university fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Education&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Education</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Entertainment&sort=upvotes"><i
                                        class="fas fa-ticket-alt fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Entertainment&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Entertainment</button></a>
                </div>
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Family&sort=upvotes"><i
                                        class="fas fa-user-friends fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Family&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Family</button></a>
                </div>
        </div>

        <div class="row my-5">
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Fashion&sort=upvotes"><i
                                        class="fas fa-user-tie fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Fashion&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Fashion</button></a>
                </div>
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Finance&sort=upvotes"><i
                                        class="fas fa-piggy-bank fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Finance&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Finance</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Fitness&sort=upvotes"><i
                                        class="fas fa-running fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Fitness&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Fitness</button></a>
                </div>
        </div>


        <div class="row my-5">
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Food/Cooking&sort=upvotes"><i
                                        class="fas fa-utensils fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Food/Cooking&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Food/Cooking</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Gaming&sort=upvotes"><i
                                        class="fas fa-gamepad fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Gaming&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Gaming</button></a>
                </div>
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Health/Wellness&sort=upvotes"><i
                                        class="fas fa-heartbeat fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Health/Wellness&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Health/Wellness</button></a>
                </div>
        </div>

        <div class="row my-5">

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Lifestyle&sort=upvotes"><i
                                        class="fas fa-plane fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Lifestyle&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Lifestyle</button></a>
                </div>
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Music&sort=upvotes"><i
                                        class="fas fa-music fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Music&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Music</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=News/Politics&sort=upvotes"><i
                                        class="fas fa-newspaper fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=News/Politics&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        News/Politics</button></a>
                </div>
        </div>

        <div class="row my-5">
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Religion&sort=upvotes"><i
                                        class="fas fa-church fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Religion&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Religion</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Science&sort=upvotes"><i
                                        class="fas fa-microscope fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Science&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Science</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Sports&sort=upvotes"><i
                                        class="fas fa-football-ball fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Sports&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Sports</button></a>
                </div>
        </div>

        <div class="row my-5">

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Technology&sort=upvotes"><i
                                        class="fas fa-mobile-alt fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Technology&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Technology</button></a>
                </div>
                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Travel&sort=upvotes"><i
                                        class="fas fa-suitcase fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Travel&sort=upvotes">
                                <button class="btn btn-lg btn-block mx-auto text-dark">Travel</button></a>
                </div>

                <div class="col">
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Miscellaneous&sort=upvotes"><i
                                        class="fas fa-random fa-3x text-dark"></i></a>
                        <a class="text-dark" href="/youtube/search/tags?page=1&tag=Miscellaneous&sort=upvotes"><button
                                        class="btn btn-lg btn-block mx-auto text-dark">
                                        Miscellaneous</button></a>
                </div>
        </div>

</div>



<%- include('../partials/footer') %>