a:hover{
text-decoration: none;

}

body{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Raleway', sans-serif;

}


.red-button{
  color:white;
  background-color: #ff0000;
}

.twitch-button{
  color:white;
  background-color: #9146ff;
}

.text-red{
  color:red;
  
}
.text-black{
  color:black;
}

.jumbotron{
  border-radius: 0;
}

.bg {
  /* The image used */
  background-image: url("/images/youtube.png");

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.text-bg-dark{
  background-color: grey;
}

.pagination > li > a
{
    background-color: white;
    color:black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination-youtube > .active > a
{
    color: white;
    background-color: #ff0000 !Important;
    border: solid 1px #ff0000 !Important;
}

.pagination-youtube > .active > a:hover
{
    background-color: #ff0000 !Important;
    border: solid 1px #ff0000;
}

.pagination-twitch > .active > a
{
    color: white;
    background-color: #9146ff !Important;
    border: solid 1px #9146ff !Important;
}

.pagination-twitch > .active > a:hover
{
    background-color: #9146ff !Important;
    border: solid 1px #9146ff;
}




.category-dropdown.dropdown-menu{
  height:23.9rem;
  overflow-y:auto;
}

.thumb{
  height: 13rem;
  width: 13rem;
}

.carousel-indicators .active{
  background-color: black;
}


.carousel-indicators li{
  background-color: lightslategrey;
}


i {
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color:black;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 10px;
 }

i.fa-chevron-down:hover {
 color: #F90015;
}
i.fa-chevron-up:hover {
  color:#00FF00;
 }

 .carousel-height-div{
  height:450px !important;
}





@media (max-width: 992px) {
  .category-dropdown.dropdown-menu{
        height:9.9rem;
        overflow-y:auto;

     }
  .profile-dropdown{
    height: auto;
    overflow-y: auto;
  }
     /* a.navbar-brand {
      float: none;
      display: table;
      margin: auto;
    } */
   
    .thumb{
      height: 10rem;
      width: 10rem;
    }
    .slogan{
      font-size: 2.5rem;
    }
    .sub-slogan{
      font-size: 1rem;
    }

    a img.img-logo {
      
      height:40px;
      width: 160px;
 
    }

    .carousel-height-div{
      height:700px !important;
    }

    /* .signup-btn{
      font-size: .6rem;
    } */
    /* a.navbar-brand {
      
      } */
    .bg {
        /* The image used */
        background-image: url("https://images.pexels.com/photos/34407/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      
        /* Full height */
        height: 100%;
        width: 100%;
        /* Center and scale the image nicely */
        background-position: 25% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
  }

  @media (max-width: 600px) {

    .carousel-height-div{
      height:950px !important;
    }
  }

