/* ::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {  
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
} */

a:hover{
text-decoration: none;
}


.category-dropdown.dropdown-menu{
  height:23.9rem;
  overflow-y:auto;
}

.thumb{
  height: 13rem;
  width: 13rem;
}

.carousel-indicators .active{
  background-color: black;
}


.carousel-indicators li{
  background-color: lightslategrey;
}


i {
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color:black;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

i:hover {
 color: #0064F8;
}


@media (max-width: 992px) {
  .category-dropdown.dropdown-menu{
        height:9.9rem;
        overflow-y:auto;

     }
  .profile-dropdown{
    height: auto;
    overflow-y: auto;
  }
     /* a.navbar-brand {
      float: none;
      display: table;
      margin: auto;
    } */
   
    .thumb{
      height: 10rem;
      width: 10rem;
    }
    .slogan{
      font-size: 2.5rem;
    }
    .sub-slogan{
      font-size: .75rem;
    }

    a img.img-logo {
      
      height:40px;
      width: 160px;
 
    }

    /* .signup-btn{
      font-size: .6rem;
    } */
    /* a.navbar-brand {
      
      } */
  
  }

